@using InternetShop.Constants
<!-- Side Bar Start -->
<div class="col-lg-4 sidebar">
    <div class="sidebar-widget widget-slider">
        <div class="sidebar-slider normal-slider">
            @foreach (var item in @ViewBag.AllProducts)
            {
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@item.Name</a>
                        </div>
                        <div class="product-image">
                            <a href="/productdetail?guid=@item.Id">
                                <img src="~/img/@item.Picter" alt="Product Image">
                            </a>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>@item.Price</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="sidebar-widget brands">
        <h>
            Our Brands:
            @Brand.BMW (@ViewBag.BMW_Count),
            @Brand.Honda (@ViewBag.Honda_Count),
            @Brand.Minsk (@ViewBag.Minsk_Count),
            @Brand.Sushivesla (@ViewBag.Sushivesla_Count),
            @Brand.Sushitime (@ViewBag.Sushitime_Count),
            @Brand.TokiNY (@ViewBag.TokiNY_Count)
        </h>
    </div>
</div>
<!-- Side Bar End -->