@using InternetShop.Constants
<!-- Side Bar Start -->
<div class="col-lg-4 sidebar">
    <div class="sidebar-widget widget-slider">
        <div class="sidebar-slider normal-slider">
            @foreach (var item in Model.Products)
            {
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@item.Name</a>
                        </div>
                        <div class="product-image">
                            <a href="/productdetail?guid=@item.Id">
                                <img src="~/img/@item.Picter" alt="Product Image">
                            </a>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>@item.Price</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="sidebar-widget brands">
        <h>
            Our Brands:
            @Brand.BMW (@Model.Products.Where(i => i.Brand.Equals("BMW", StringComparison.OrdinalIgnoreCase)).Count()),
            @Brand.Honda (@Model.Products.Where(i => i.Brand.Equals("Honda", StringComparison.OrdinalIgnoreCase)).Count()),
            @Brand.Minsk (@Model.Products.Where(i => i.Brand.Equals("Minsk", StringComparison.OrdinalIgnoreCase)).Count()),
            @Brand.Sushivesla (@Model.Products.Where(i => i.Brand.Equals("SushiVesla", StringComparison.OrdinalIgnoreCase)).Count()),
            @Brand.Sushitime (@Model.Products.Where(i => i.Brand.Equals("SushiTime", StringComparison.OrdinalIgnoreCase)).Count()),
            @Brand.TokiNY (@Model.Products.Where(i => i.Brand.Equals("TokiNY", StringComparison.OrdinalIgnoreCase)).Count())
        </h>
    </div>
</div>
<!-- Side Bar End -->