@model InternetShop.Service.ProductService
@using InternetShop.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    @await Html.PartialAsync("BrandPartial")
    @await Html.PartialAsync("NavBarPartial")
    <!-- Product List Start -->
    <div class="product-view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-view-top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product-short">
                                            <div class="dropdown">
                                                @{string sort1 = null;
                                                    if (string.IsNullOrEmpty(ViewData["Category"]?.ToString()))
                                                    {
                                                        sort1 = "All categories";
                                                    }
                                                    else
                                                    {
                                                        sort1 = ViewData["Category"].ToString();
                                                    }
                                                    <div class="dropdown-toggle" data-toggle="dropdown">@sort1</div>
                                                }
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="products?category=@string.Empty&price=@ViewData["Price"]&brand=@ViewData["Brand"]" class="dropdown-item">All categories</a>
                                                    <a href="products?category=@Category.Moto&price=@ViewData["Price"]&brand=@ViewData["Brand"]" class="dropdown-item">@Category.Moto</a>
                                                    <a href="products?category=@Category.Sushi&price=@ViewData["Price"]&brand=@ViewData["Brand"]" class="dropdown-item">@Category.Sushi</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                @{string sort2 = null;
                                                    if (string.IsNullOrEmpty(ViewData["Price"]?.ToString()))
                                                    {
                                                        sort2 = "All prices";
                                                    }
                                                    else
                                                    {
                                                        sort2 = ViewData["Price"].ToString();
                                                    }
                                                    <div class="dropdown-toggle" data-toggle="dropdown">@sort2</div>
                                                }
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="products?category=@ViewData["Category"]&price=@string.Empty&brand=@ViewData["Brand"]" class="dropdown-item">All prices</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@Price.LowPrice&brand=@ViewData["Brand"]" class="dropdown-item">@Price.LowPrice</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@Price.HighPrice&brand=@ViewData["Brand"]" class="dropdown-item">@Price.HighPrice</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="product-short">
                                            <div class="dropdown">
                                                @{string sort3 = null;
                                                    if (string.IsNullOrEmpty(ViewData["Brand"]?.ToString()))
                                                    {
                                                        sort3 = "All brands";
                                                    }
                                                    else
                                                    {
                                                        sort3 = ViewData["Brand"].ToString();
                                                    }
                                                    <div class="dropdown-toggle" data-toggle="dropdown">@sort3</div>
                                                }
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@string.Empty" class="dropdown-item">All brands</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@Brand.BMW" class="dropdown-item">@Brand.BMW</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@Brand.Honda" class="dropdown-item">@Brand.Honda</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@Brand.Minsk" class="dropdown-item">@Brand.Minsk</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@Brand.Sushivesla" class="dropdown-item">@Brand.Sushivesla</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@Brand.Sushitime" class="dropdown-item">@Brand.Sushitime</a>
                                                    <a href="products?category=@ViewData["Category"]&price=@ViewData["Price"]&brand=@Brand.TokiNY" class="dropdown-item">@Brand.TokiNY</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @foreach (var item in ViewBag.Products)
                        {
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">@item.Name</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="productdetail?guid=@item.Id">
                                            <img src="img/@item.Picter" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>@item.Price</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination End -->
                </div>
                @await Html.PartialAsync("SideBarPartial")
            </div>
        </div>
    </div>
    <!-- Product List End -->
    @await Html.PartialAsync("FooterPartial")
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
