<body>
<!-- Register Start -->
<div class="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="col-md-6">
                                <label asp-for="@Model.registerModel.Email">E-mail</label>
                                <input class="form-control" type="text" asp-for="@Model.registerModel.Email" placeholder="E-mail"/>
                                <span asp-validation-for="@Model.registerModel.Email" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="@Model.registerModel.Password">Password</label>
                                <input class="form-control" type="text" placeholder="Password" asp-for="@Model.registerModel.Password" />
                                <span asp-validation-for="@Model.registerModel.Password" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="@Model.registerModel.ConfirmPassword">Repeate Password</label>
                                <input class="form-control" type="text" placeholder="Password" asp-for="@Model.registerModel.ConfirmPassword" />
                                <span asp-validation-for="@Model.registerModel.ConfirmPassword" />
                            </div>

                            <div class="col-md-12">
                                <input type="submit" value="Submit" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register End -->
</body>
@*<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="@Model.registerModel.Email">Введите Email</label><br />
            <input type="text" asp-for="@Model.registerModel.Email" />
            <span asp-validation-for="@Model.registerModel.Email" />
        </div>


        <div>
            <label asp-for="@Model.registerModel.Password">Введите пароль</label><br />
            <input asp-for="@Model.registerModel.Password" />
            <span asp-validation-for="@Model.registerModel.Password" />
        </div>
        <div>
            <label asp-for="@Model.registerModel.ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="@Model.registerModel.ConfirmPassword" />
            <span asp-validation-for="@Model.registerModel.ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>*@