@model InternetShop.Models.ItemContext

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    @await Html.PartialAsync("BrandPartial")
    @await Html.PartialAsync("NavBarPartial")
    <!-- Moto Product Start -->
    <div class="product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Moto</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var moto in Model.Motos)
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@moto.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="img/@moto.Picter" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@moto.Price</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                }
                @foreach (var moto in Model.Motos)
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@moto.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="img/@moto.Picter" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@moto.Price</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Moto Product End -->
    <!-- Sushi Product Start -->
    <div class="product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Sushi</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var sushi in Model.Sushis)
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@sushi.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="img/@sushi.Picter" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@sushi.Price</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                }
                @foreach (var sushi in Model.Sushis)
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@sushi.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="img/@sushi.Picter" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@sushi.Price</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Sushi Product End -->
    @await Html.PartialAsync("FooterPartial")
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
