<body>
    <!-- Moto Product Start -->
    <div class="featured-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Moto</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var item in Model.Products.Where(prd => prd.Category.Equals("moto", StringComparison.OrdinalIgnoreCase)))
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@item.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="productdetail?guid=@item.Id">
                                    <img src="img/@item.Picter" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@item.Price</h3>
                                <a class="btn" href="@Url.Action("Add2Cart", "Home", new {guid = item.Id })"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Moto Product End -->
    <!-- Sushi Product Start -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Sushi</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var item in Model.Products.Where(prd => prd.Category.Equals("sushi", StringComparison.OrdinalIgnoreCase)))
                {
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@item.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="productdetail?guid=@item.Id">
                                    <img src="img/@item.Picter" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>@item.Price</h3>
                                <a class="btn" href="@Url.Action("Add2Cart", "Home", new {guid = item.Id })"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Sushi Product End -->
</body>